<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API Basejump: URL shortener microservice</h1>
         <h3>Part 3 of Free Code Camp Backend Challenges</h3>
        
        <div>
           <hr>
           <blockquote>
           <h4>User stories:</h4>
             <ol>
               <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
               <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
               <li>When I visit that shortened URL, it will redirect me to my original link.</li>
             </ol>
           </blockquote>
           <h2>Example Usage:</h2>
             <code>https://carmen-chapa-fcc-url-shortener.glitch.me/new/http://www.google.com</code>
             <code>https://carmen-chapa-fcc-url-shortener.glitch.me/new/http://foo.com:80</code>
           <h2>Example Output:</h2>
             <code>{ original_url: "http://www.monky.com", short_url: "https://carmen-chapa-fcc-url-shortener.glitch.me/2e1c06" }</code>
         </div>
      </div>
   </body>

</html>
